# Vroom (Name subject to change)
Jupyter Notebook used to import, explore, and hopefully implement a proper model.

## Importing
With the use of Pandas library in Python, we are able to successfully load the .csv for the data.

## Exploring
### Overview
With the use of Pandas to delve deep into the data given to have a general overview.

### Changing Localisation
Current locale: Detusch (Deutschland/Germany).\
As a result; keywords will be identified and replaced with English equivalent.

### NaNs/Missing Data
Using Pandas/Numpy to fill in missing data or remove unretrievable data (If number is negligible).

In [17]:
# Importing libraries
import numpy as np
import pandas as pd

In [18]:
# Loading data

# 1. Using relative path
# (I'm using this due to file/folder setup within my gitrepo)
de_carDat = pd.read_csv("../dataset/autos.csv")

# 2. Use this (uncomment) if .csv is in the same folder
# in addition to commenting the above line of code
#de_carDat = pd.read_csv("./autos.csv")

# Showing Data
Using head/tail/describe/info

Head: Shows first $n$ rows.
Tail: Shows last $n$ rows.

Describle: Runs basic statistics on numerical columns.

Info: Shows an overview regarding dataset

In [19]:
# Dictating how many rows to view
n = 5

# Using the display() to show
# multiple outputs from the same cell

# Getting the first n rows
display(de_carDat.head(n))

# Getting the last n rows
display(de_carDat.tail(n))

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
371523,371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,...,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,...,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,...,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,...,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,...,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [20]:
# Run this cell (and one below) instead of the above
# For separate cell outputs

# First n rows
de_carDat.head(n)

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [21]:
# Last n rows
de_carDat.tail(n)

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
371523,371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,...,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,...,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,...,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,...,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,...,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [22]:
# Removing index column
# Python already indexes
# Does not pose any value
de_carDat.drop(columns = 'index', inplace = True)

In [23]:
# Describing numerical columns
de_carDat.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,nrOfPictures,postalCode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

In [24]:
# Printing Dataframe info
de_carDat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

# Selecting keywords that matter
From looking at some values in columns, some values seem to be repeating regularly and thus they would be considered keywords to be translated later.

Getting unique values from non-numerical columns\
Due to the current locale, swapping to english
would be more optimal\
Unless specified to work with German as is

Noted Columns: [seller, offertype, abtest, vehicleType, gearbox, fuelType, notRepairedDamage]

In [25]:
# Getting list of columns within the dataframe
# whilst excluding numerical columns
col_names_obj = list(de_carDat.select_dtypes(exclude='int64').columns.values)

print(col_names_obj, de_carDat.select_dtypes(exclude='int64').info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dateCrawled        371528 non-null  object
 1   name               371528 non-null  object
 2   seller             371528 non-null  object
 3   offerType          371528 non-null  object
 4   abtest             371528 non-null  object
 5   vehicleType        333659 non-null  object
 6   gearbox            351319 non-null  object
 7   model              351044 non-null  object
 8   fuelType           338142 non-null  object
 9   brand              371528 non-null  object
 10  notRepairedDamage  299468 non-null  object
 11  dateCreated        371528 non-null  object
 12  lastSeen           371528 non-null  object
dtypes: object(13)
memory usage: 36.8+ MB
['dateCrawled', 'name', 'seller', 'offerType', 'abtest', 'vehicleType', 'gearbox', 'model', 'fuelType', 'brand', 'notRepairedDamage', 'dateCreated', 'lastSeen'] None

In [26]:
# Manually removing object-like values
# i.e dates
# selecting columns that may have a keyword in German
col_names_unique = ['seller', 'offerType', 'vehicleType', 'gearbox', 'fuelType', 'notRepairedDamage']

In [27]:
# As seen from the above output cell
# we'll only need to extract unique
# words from object columns
de_colVal_unique = list()

for col in col_names_unique:
    print(de_carDat[col].unique())
    de_colVal_unique.append(de_carDat[col].dropna().unique())

# List of target words to be translated
de_colVal_unique

['privat' 'gewerblich']
['Angebot' 'Gesuch']
[nan 'coupe' 'suv' 'kleinwagen' 'limousine' 'cabrio' 'bus' 'kombi'
 'andere']
['manuell' 'automatik' nan]
['benzin' 'diesel' nan 'lpg' 'andere' 'hybrid' 'cng' 'elektro']
[nan 'ja' 'nein']

[array(['privat', 'gewerblich'], dtype=object),
 array(['Angebot', 'Gesuch'], dtype=object),
 array(['coupe', 'suv', 'kleinwagen', 'limousine', 'cabrio', 'bus',
        'kombi', 'andere'], dtype=object),
 array(['manuell', 'automatik'], dtype=object),
 array(['benzin', 'diesel', 'lpg', 'andere', 'hybrid', 'cng', 'elektro'],
       dtype=object),
 array(['ja', 'nein'], dtype=object)]

In [28]:
# Instantiating dictionary of translated words
en_colVal_dict = {'privat':'private',
                  'gewerblich': 'commercial',
                  'Angebot': 'offer',
                  'Gesuch': 'request',
                  'coupe': 'coupe',
                  'suv': 'suv',
                  'kleinwagen': 'small car',
                  'limousine': 'limousine',
                  'cabrio': 'convertible',
                  'bus': 'bus',
                  'kombi': 'station wagon',
                  'andere': 'other',
                  'manuell': 'manual',
                  'automatik': 'automatic',
                  'benzin': 'petrol',
                  'diesel': 'diesel',
                  'lpg': 'lpg',
                  'hybrid': 'hybrid',
                  'cng': 'cng',
                  'elektro': 'electric',
                  'ja': 'yes',
                  'nein': 'no'}

In [29]:
# Instantiating english variant
# using .copy() to make a separate copy
# that does not reflect change on original
en_carDat = pd.DataFrame.copy(de_carDat)

# Replacing column values with dictionary values
for col in col_names_unique:
    # For each column (Series), replace every entry
    # with its equivalent key:value from the above dictionary
    # also in-place
    en_carDat[col].replace(en_colVal_dict, inplace = True)

# Testing both language variants
display(de_carDat.head(), en_carDat.head())

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,private,offer,480,test,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,offer,18300,test,coupe,2011,manual,190,NaN,125000,5,diesel,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,offer,9800,test,suv,2004,automatic,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,private,offer,1500,test,small car,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,small car,2008,manual,69,fabia,90000,7,diesel,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

# Preprocessing
Needing to remove outliers, incorrect data, and NaNs

# Outlier Removal
In columns such as Price, Power (Pferdestärke), Registration year.

In [30]:
# Dimension Reduction
# Removing attributes that won't be contribute much
# Such as:
# DateCrawled (Similar dates)
# Name (Classify by names wouldn't work in this case)
# Date Created (Same as DateCrawled, similar dates)
# nrPics (All 0s)
# postalCode
# Last Seen (Similar enough dates)

dropped_cols = ['dateCrawled', 'name', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen']

en_carDat.drop(columns = dropped_cols, inplace = True)
de_carDat.drop(columns = dropped_cols, inplace = True)

In [32]:
# Checking dataframes after drop

display(de_carDat, en_carDat)

,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,private,offer,480,test,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN
1,private,offer,18300,test,coupe,2011,manual,190,NaN,125000,5,diesel,audi,yes
2,private,offer,9800,test,suv,2004,automatic,163,grand,125000,8,diesel,jeep,NaN
3,private,offer,1500,test,small car,2001,manual,75,golf,150000,6,petrol,volkswagen,no
4,private,offer,3600,test,small car,2008,manual,69,fabia,90000,7,diesel,skoda,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,private,offer,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,private,offer,1199,test,convertible,2000,automatic,101,fortwo,125000,3,petrol,smart,no
371525,private,offer,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no
371526,private,offer,3400,test,station wagon,2002,manual,100,golf,150000,6,diesel,volkswagen,NaN
371527,private,offer,28990,control,limousine,2013,manual,320,m_reihe,50000,8,petrol,bmw,no

# Model Testing
A handful of models to have the above dataset passed into, and checking their output/scores.

## Regression
Features Selected:
- Fuel Type
- Gearbox
- Vehicle Type
- Registration Year
- Kilometer
- Seller
- Brand
- Offer Type
- Power
- a/b test
- Damage Repair

Predict: Price

In [31]:
# Instantiating a variable to hold either localisation of datasets
# Uncomment either lines
# (Language does not matter much)

# English
#passed_dataset = en_carDat

# German
#passed_dataset = de_carDat